@media screen and (min-width: 270px) {
    header {
        background-color: #F2F2F2;
        height: 200px;
    }
    .header-logo {
        padding: 20px;
    }
    .menu {
        display: inline-flex;
        float: none;
        width: 100%;
    }
    .menu li {
        display: inline-flex;
        float: none;
        width: 100%;
    }
    .menu li,
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .menu img {
        width: 80px;
        vertical-align: middle;
    }
}

@media screen and (min-width: 600px) {
    header {
    background-color: #F2F2F2;
    height: 152px;
    }
    .header-logo {
        padding: 20px;
    }
    .menu {
        position: fixed;
        top: 50px;
        text-align: center;
        left: 144px;

    }
    .menu li {
        width: 230px;
        border-bottom: none;
        font-size: 30px;
        font-family: 'Trebuchet MS';
        display: inline-block;
        color: #000000;
    }
    .menu li,
    a {
        text-decoration: none;
        color: #000000;
    }
    a:hover {
        text-decoration: underline;
    }
    .menu img {
        width: 80px;
        vertical-align: middle;
    }
}
